HOST="localhost"
PORT=3000
NODE_ENV="development"
REDIS_HOST="redishost.localhost"
REDIS_PORT=18542
REDIS_USER="default"
REDIS_PASSWORD="redispassword"
TOKEN_KEY="secretkey"
DB_HOST="localhost"
DB_PORT=5432
DB_NAME="postgres"
DB_USER="postgres"
DB_PASSWORD="postgres"
